In [1]:
import pandas as pd
import basicStats as bs

In [6]:
data  = {'John': 80,'Tom':78,'Tommy':85,'Jian':95,'Gilfoyl':94,'Dinesh':87,'Richard':93}
df = pd.DataFrame(list(data.items()),columns=['Name','Marks'])

In [8]:
df['marks'] = df['Marks']
bs.standardDeviation(df['marks'])
bs.summarize(df['marks'])

      Stats   Value
0      Mean  87.429
1    Median  87.000
2  Variance  46.952
3       StD   6.852
4       Max  95.000
5       Min  78.000